@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(216, 15%, 48%);
  --ternary-color: hsl(212, 45%, 89%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--ternary-color);
  color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-component {
  width: 320px;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  text-align: center;

  & .qr-code-image img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
  }

  & h2 {
    color: var(--primary-color);
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  & p {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}
